@import "tailwindcss";

@theme {
	/* Colors */
	--color-gray-50: #F9FAFB;
	--color-gray-100: #F3F4F6;
	--color-gray-200: #E5E7EB;
	--color-gray-300: #D1D5DB;
	--color-gray-400: #9CA3AF;
	--color-gray-500: #6B7280;
	--color-gray-600: #4B5563;
	--color-gray-700: #374151;
	--color-gray-800: #1F2937;
	--color-gray-900: #111827;
	--color-gray-950: #030712;

	--color-primary-50: oklch(0.982 0.018 155.826);
	--color-primary-100: oklch(0.962 0.044 156.743);
	--color-primary-200: oklch(0.925 0.084 155.995);
	--color-primary-300: oklch(0.871 0.15 154.449);
	--color-primary-400: oklch(0.792 0.209 151.711);
	--color-primary-500: oklch(0.723 0.219 149.579);
	--color-primary-600: oklch(0.627 0.194 149.214);
	--color-primary-700: oklch(0.527 0.154 150.069);
	--color-primary-800: oklch(0.448 0.119 151.328);
	--color-primary-900: oklch(0.393 0.095 152.535);
	--color-primary-950: oklch(0.266 0.065 152.934);

    --color-candle-red: #FF5A4F;
    --color-candle-bg: #F7F7F8;

	--font-body: 'Inter', sans-serif;
	--font-display: 'Inter', sans-serif;
}

body {
    font-family: var(--font-body);
    color: var(--color-gray-900);
    background-color: white;
    -webkit-font-smoothing: antialiased;
}

.mask-linear-fade {
    mask-image: linear-gradient(to right, black 85%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, black 85%, transparent 100%);
}

.mask-linear-fade {
    mask-image: linear-gradient(to right, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%);
}
